# Chloé's Work

In [14]:
import pandas as pd
import plotly as plt
import plotly.express as px
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer


## Data Preprocessing

Cleaning the Dataset.

### Data Summarization

In [15]:
data = pd.read_csv("Metabolic Syndrome.csv", index_col="seqn")
data["MetabolicSyndrome"] = data["MetabolicSyndrome"].astype("bool")
categorical_variables = ["Sex", "Marital", "Race"]

### Replace the missing values, Imputer

In [16]:
data_imputed = data

for col in data_imputed.select_dtypes(include="number").columns:
    imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
    imputer.fit(data_imputed[[col]])
    data_imputed[col] = imputer.transform(data_imputed[[col]])
data_imputed.head()

,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
seqn,,,,,,,,,,,,,,
62161,22.0,Male,Single,8200.00000,White,81.0,23.3,0.0,3.88,4.9,92.0,41.0,84.0,False
62164,44.0,Female,Married,4500.00000,White,80.1,23.2,0.0,8.55,4.5,82.0,28.0,56.0,False
62169,21.0,Male,Single,800.00000,Asian,69.6,20.1,0.0,5.07,5.4,107.0,43.0,78.0,False
62172,43.0,Female,Single,2000.00000,Black,120.4,33.3,0.0,5.22,5.0,104.0,73.0,141.0,False
62177,51.0,Male,Married,4005.25394,Asian,81.1,20.1,0.0,8.13,5.0,95.0,43.0,126.0,False

### Transform continuous variables into categorical variable and create an ”hot one encoding” structure

In [17]:
from sklearn.preprocessing import OneHotEncoder

data_encoded = data_imputed

for col in data_encoded.select_dtypes(include="object").columns : 
    enc = OneHotEncoder()
    enc.fit(data_encoded[[col]])
    data_encoded[col]= enc.transform(data_encoded[[col]])

data.head()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 3548, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\chloe\AppData\Local\Temp\ipykernel_4472\3775766014.py", line 8, in <module>
    data_encoded[col]= enc.transform(data_encoded[[col]])
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py", line 3950, in __setitem__
    self._set_item(key, value)
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py", line 4143, in _set_item
    value = self._sanitize_column(value)
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py", line 4870, in _sanitize_column
    com.require_length_match(value, self.index)
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\common.py", line 575, in require_length_match
    if len(data) != len(index):
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\scipy\sparse\_base.py", line 395, in __len__
    raise TypeError("sparse array length is ambiguous; use getnnz()"
TypeError: sparse array length is ambiguous; use getnnz() or shape[0]

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py", line 2142, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1063, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\ultratb.py", line 1115, in get_records
    style = stack_data.style_with_executing_node(style, self._tb_highlight)
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\stack_data\core.py", line 455, in style_with_executing_node
    class NewStyle(style):
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pygments\style.py", line 91, in __new__
    ndef[4] = colorformat(styledef[3:])
  File "C:\Users\chloe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pygments\style.py", line 58, in colorformat
    assert False, "wrong color format %r" % text
AssertionError: wrong color format 'ansiyellow'

### Scale the continuous variables

In [ ]:
data_scaled = data_imputed

for col in data_imputed.select_dtypes(include="number").columns:
    scaler = StandardScaler()
    scaler.fit_transform(data_scaled[[col]])

data_scaled.head()

,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
seqn,,,,,,,,,,,,,,
62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,False
62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,False
62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,False
62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,False
62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,False

In [ ]:
df_encoded = pd.get_dummies(data_scaled)
df_encoded.dropna()
df_encoded.describe(include="all")

,Age,Income,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides
count,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03,2.401000e+03
mean,1.864398e-16,-1.923585e-17,8.456376e-16,4.734979e-16,-5.770755e-17,1.479681e-17,-1.198541e-16,-1.834804e-16,2.308302e-16,7.990276e-17
std,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00,1.000208e+00
min,-1.627517e+00,-1.252941e+00,-2.635278e+00,-2.307956e+00,-3.645743e-01,-1.635283e-01,-2.563515e+00,-1.989113e+00,-2.593101e+00,-1.071590e+00
25%,-8.333794e-01,-8.044647e-01,-7.055423e-01,-7.080741e-01,-3.645743e-01,-1.517167e-01,-6.872873e-01,-4.667114e-01,-6.829913e-01,-5.574386e-01
50%,-3.924148e-02,-4.939809e-01,-7.900479e-02,-1.496247e-01,-3.645743e-01,-1.415702e-01,-6.187814e-02,-2.656394e-01,-1.560645e-01,-2.636377e-01
75%,8.116206e-01,7.824525e-01,5.600635e-01,4.993840e-01,-3.645743e-01,-1.159331e-01,6.330209e-01,5.033080e-02,5.684599e-01,2.295282e-01
max,1.775931e+00,1.748402e+00,4.870641e+00,6.038598e+00,4.367009e+00,2.278830e+01,4.038026e+00,7.863413e+00,6.759850e+00,1.504549e+01